
html, body{
    margin: 0; 
    padding: 0; 
}

#app-menu{
    background-color: #0367a6;
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
    position: fixed; /*GIVEN BY GPT*/
    height: 50px;
    top: 0;
    left: 0;
    
}

.content{
    width: 100%; 
}

.menu-item{
    margin-top: -20px;
    
}

.menu-item a{
    color: white; 
    margin: 30px; 
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: color 0.3s ease;
    
}

.menu-item img{
    width: 30px; 
    margin-right: 5px;
    filter: brightness(0) invert(1);
}

.menu-item a:hover{
    color:#d9043d;
}

#page-view{
    margin-top: 50px;
}

.room-list{
    width: 100%; 
    margin: 0; 
    padding: 0; 
    text-decoration: none;
}

.room-list li{
    background-color:grey;
    list-style-type: none;
    height: 60px;
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: #dad1d1;
    border-bottom: 1px solid white; 
    width: 100%; 
}

.room-list a{
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    align-items: center;
    color: black; 
    transition: color 0.3s ease;
}

.room-list img{
    width: 30px; 
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px; 
}

.room-list li:hover{
    background-color: rgb(198, 216, 247); 
}

.page-control{
    background-color: #0367a6;
    display: flex;
    list-style-type: none;
    margin: 0; 
    padding: 0;
    width: 100%;
    justify-content: center;
    position: fixed; /*GIVEN BY GPT*/
    height: 50px;
    bottom: 0;
    left: 0;
}

.page-control button {
    padding: 0px 30px;
    background-color: white;
    border: none;
    font-size: 16px; /* Font size */
    cursor: pointer;
    margin: 7px; 
}

#room_title{
    /* padding: 0px 30px; */
    width: 15%;
    margin: 10px; 
}

#message-text{
    /* padding: 0px 30px; */
    margin: 7px; 
    width: 80%; 
    resize: none;
    display: flex;
    /* height: 35px; */
}



/*****************************************************/
/*For profile.html*/

.profile-form {
    display: flex;
    flex-direction: column; 
    margin-top: 50px;
}

.form-field {
    display: flex; 
    align-items: center; 
    border-bottom: 1px solid #ccc; /* Light gray border */
    padding: 20px 10px; 
}

label {
    flex: 0 0 100px; 
    margin-right: 5px; 
}

.profile-image{
    width: 30px;
    height:30px;
    margin-right: 10px;
}


input[type="text"],
input[type="password"],
input[type="file"],
#about {
    width: 240px;
}

#about {
    display: flex;
    height: 150px;
    resize: none;
}

.page-control button {
    padding: 0px 30px;
    background-color: white;
    border: none;
    font-size: 16px; /* Font size */
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 7px;
}

/*******************************************/


 /*For chat.html*/
.room-name{
    background-color: #d9b779;
    display: flex;
    border-bottom: 1px solid grey; 
    height: 30px;
    align-items: center;
    padding-left: 10px; 
}


.message {
    border: 2px solid #0367a6; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; 
    margin: 20px; 
    background-color: #f8e9e9; 
    /* background-color: #ad1515;  */
    display: flex;
    flex-direction: column;
    width: 80%; 
    height: 25px;
    margin-left: 4px;
    justify-content: center;
}

.my-message{
    border: 2px solid #0367a6; /* Border color */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; 
    margin: 20px; 
    background-color: #42dcde; 
    margin-left: 17%; 
}

.message-user{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: flex-start;
}

.message-text{
    /* font-family: Arial, Helvetica, sans-serif; */
    align-self: flex-start;
}


/* Media Queries for #app-view */
@media (min-width: 1024px) {
    #app-view {
        width: 80%; /* 80% of container */
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    #app-view {
        width: 90%; /* 90% of container */
    }
}

@media (max-width: 767px) {
    #app-view {
        width: 100%; /* 100% of container */
    }
}
/* Comment */